<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Languages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
        <p>Advanced <strong><span class="default-highlight">Urdu</span></strong></p>
        <p>Native <strong><span class="default-highlight">Punjabi</span></strong></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>University</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>2017 - Lahore Model School - <strong><span class="default-highlight">Computer Science</span></strong> - Matric Degree</p>
        <ul>
          <li><b>"Building a Simple Library Management System Using C++</b></li>
          <li><i>This project demonstrates basic programming concepts such as loops, conditions, and file handling, used to manage books in a small library.</i></li>
        </ul>
        <p>2019 - Qauid-e-azam Collage - <strong><span class="default-highlight">BCOM</span></strong> - Inter Degree</p>
        <ul>
          <li><b>The Role of E-Commerce in the Growth of Small Businesses in Pakistan</b></li>
          <li><i>This research explores how online platforms have helped small and medium enterprises (SMEs) expand their reach and increase revenue.</i></li>
        </ul>
        <p>2025 - Virtual University - <strong><span class="default-highlight">Bachelor in Computer Science</span></strong> - Bachelor's Degree</p>
        <ul>
          <li><b>Design and Development of a RESTful API for Digitizing Newspaper Archives: A Case Study of The Brazilian Gazettes</b></li>
          <li><i>This thesis focuses on the creation of a RESTful API to digitize and access historical newspaper data from The Brazilian Gazettes. The system is designed to support CRUD operations, advanced search filters, and secure endpoints. The API was developed using Node.js and Express, with MongoDB as the backend database. The project demonstrates how digital transformation can preserve historical records while making them accessible through modern web technologies.</i></li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Experience</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Cedar Financial - <strong><span class="default-highlight">Frontend Developer Intern</span></strong> - July/2023-Jan/2024</p>
        <ul>
          <li>
           Developed reusable Angular components and responsive layouts. Managed WordPress content using Elementor and Gravity Forms.Assisted in performance optimization and debugging across various internal projects.
          </li>
        </ul>
        <p>Cedar Financial - <strong><span class="default-highlight">Frontend Developer</span></strong> - Jan/2024-Dec/2024</p>
        <ul>
          <li>
            Built and maintained scalable, user-centric interfaces using Angular,Material UI, PrimeNG, and Bootstrap.Designed custom WordPress websites with performance-optimized themes and SEO-friendly plugins.Collaborated with backend developers and QA teams to ensure high quality, accessible web solutions.
          </li>
        </ul>
        <p>RemoteScouts - <strong><span class="default-highlight">Wordpress Developer</span></strong> - Jan/2024-Dec/2024</p>
        <ul>
          <li>
             Managed and maintained multiple WordPress websites, ensuring optimal performance, security updates, and content accuracy across all pages.Customized themes and plugins to align with client branding and functionality needs, improving site usability and user experience.
          </li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Techs I use</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tech-board">
        <div class="tech-cell">
          <i class="devicon-java-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-spring-original-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-hibernate-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-postgresql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-sqlite-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-angular-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-html5-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-python-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-flask-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-poetry-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-selenium-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-playwright-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-docker-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-kubernetes-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-git-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-jira-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-vscode-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-intellij-plain colored"></i>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>