<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from <br>pixel to perfection.</h1>
        <h2 class="home-author">Muhammad Bilal Gull, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am a frontend developer with experience in crafting responsive, user-friendly interfaces using modern web technologies like Angular, React, and WordPress.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  