<div class="align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/bilal-2.jpg" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                Muhammad Bilal Gull
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">FRONTEDND DEVELOPER</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                       <a href="https://www.linkedin.com/in/muhammad-bilal-gull-9b0a01298/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
                    </div>
                    <div class="media-icon">

                        <a href="https://www.facebook.com/bilal.mirza.232132" target="_blank" class="a-green">
          <i class="fab fa-facebook"></i>
        </a>
                    </div>

                    <div class="media-icon">
                        <a href="mailto:bilalgull678@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
                    </div>

                    <div class="media-icon">
                         <a href="https://www.instagram.com/bilal__mirxa/" target="_blank" class="a-green">
          <i class="fab fa-instagram"></i>
        </a>
                    </div>
                </div>
            </div>

            <p class="contact-paragraph">
                I'm always excited to collaborate on creative projects and craft engaging user experiences.If you're looking for a passionate Frontend Developer to bring your ideas to life,let's schedule a call.<span class="default-highlight">Together, we can build responsive, modern, and user-friendly interfaces that achieve your goals.</span>
            </p>
            <button>
                <a href="https://www.linkedin.com/in/muhammad-bilal-gull-9b0a01298/" target="_blank" class="a-green">
                > DM me on LinkedIn
                </a>
            </button>
        </div>
    </div>
</div>
